body {font-family: 'Montserrat', sans-serif;
margin: 0;}

a { color: #FF0000;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
}
li {
    letter-spacing: 2.7px;
}
.container { text-align: center;}
.navigation { display: inline-block;
    margin-top: 25.5px;    
    margin-bottom: 25.5px;}
     .menu li {
        list-style: none;
        display: inline-block;
        vertical-align: top;
        padding-left: 72px;}
.picture-main {
    width: 100%;
    margin: 0 ;
}
.page-main {
   text-align: center;}
h2 { color: #373737;
    letter-spacing: 3.3px;
    font-weight: 700;
font-size: 22px;
line-height: 27px;
    text-transform: uppercase;
    padding-top: 48px;}
    p { margin-left: 67.5px;
        margin-right: 67.5px;
        margin-top: 38px;
        color:#373737;
        font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
letter-spacing: 2.4px;}
.button { 
    background: #FF0000;
border-radius: 4px;
width: 191px;
height: 51px;
left: 544.5px;
top: 557px;
color: #FFFFFF;
text-transform: uppercase;
align-items: center;
letter-spacing: 1.8px;
border: none;
margin-top: 66px;}
.container-footer {
    margin-bottom: 29px ;
    margin-top: 82px;
    margin-left: 713px;
    margin-right: 105px;
    font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;
color:  #373737;
}
input {
    font-weight: bold;
}
.container-footer p {font-weight: bold;
}

    